<h1>All Marks</h1>


<table class="table">
	<thead>
		<tr>
			<th>Mark ID</th>
			<th>User ID</th>
			<th>Location</th>
		</tr>
	</thead>

	<tbody>
		<% @marks.each do |mark| %>
			<tr>
			
				<td><%= mark.id %></td>
				<td><%= mark.user_id %></td>
				<td><%= mark.location %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to("Login through facebook", login_path) %>