<section role="tabpanel" class="tab-pane" id="join">
  <h1> Join your friends </h1>
  <% @marks.reverse_each do |mark| %>
    <hr>
    <div class="user_name"> 
      Kavya 
      <span class="join_location"> &nbsp;&nbsp;<%= mark.location %> </span>
      <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"),mark, method: :delete, data: { confirm: 'Are you sure?' } %>
     <span class="glyphicon glyphicon-share"></span>
    </div>

    <br />

    <div class="join_post">
      <div> <%= image_tag mark.photo.url, class: "join_image" %> </div>
      <div class="join_message"><%= mark.message %></div>
    </div>
  <% end %>
</section>