<% if current_user %>
  <script type="text/javascript">
    window.location.href="/dashboard"
  </script>
 <% else %>
<div id="bg"></div>

<div class="container-fluid" id="home">
	<div id="scroll-menu">
		<ul>
			<li><a class="smooth_scroll" href="#home">Home</a></li>
			<li><a class="smooth_scroll" href="#mark">Mark</a></li>
			<li><a class="smooth_scroll" href="#clean">Join</a></li>
			<li><a class="smooth_scroll" href="#challenge">Challenge</a></li>
		</ul>
	</div>
	<div id="brand-name">Swachh</div>
	<div id="btn-div">
		<%= link_to "Do your bit", '/auth/facebook', class: "btn btn-success btn-custom" %>
	</div>
</div>

<div class="container-fluid color2" id="mark">
	<div class="feature white">Mark</div>
	<div class="featuretag white">post a pic of the place that needs to be cleaned</div>
</div>

<div class="container-fluid" id="clean">
	<div class="feature white">Join</div>
	<div class="featuretag white">pick a place | invite your friends | make it swachh together</div>
</div>

<div class="container-fluid color1" id="challenge">
	<div class="feature white">Challenge</div>
	<div class="featuretag white">challenge your friends | make the world a better place</div>
</div>
<div id="footer" class="container">
	<div class="container">
		<p class="text-muted">
			&copy;&nbsp;With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			 by Team Five Stars | 
	    	<%= link_to("About Us", about_path) %> | 
	    	<%= link_to("Contact Us", contact_path) %>
    	</p>
	</div>
</div>

<% end %>