
    <div class="nav">
      <a href="index.html">What's This</a>
      <a href="#">Sign Up</a>
      <a href="#">Login</a>    
      <%= image_tag 'logo1.jpg' %>
    </div>
    
    <div id="myheading">
      <h3>Swachhify Our India</h3>
      <h4>Happy to see you taking an initiative</h4>
    </div>
    
    <div id="button">
          <button type="button" class="btn btn-default">Mark a Spot</button>
          
    </div>
