<div class="container-fluid bg">
	<%= image_tag("http://res.cloudinary.com/fivestars/image/upload/v1418495829/taj_low_lawxcf.png", class: "bg-image") %>
</div>

<div class="container-fluid" id="home">
	<div id="scroll-menu">
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="#mark">Mark</a></li>
			<li><a href="#clean">Clean</a></li>
			<li><a href="#challenge">Challenge</a></li>
		</ul>

	</div>
	<div id="brand-name">Swach</div>
	<div id="btn-div">
		<%= link_to("Make your mark", login_path, class: "btn btn-success btn-custom") %>
	</div>
</div>

<div class="container-fluid color2" id="mark">
	<div class="feature white">Mark</div>
	<div class="featuretag white">post a pic of the place that needs to be cleaned</div>
</div>

<div class="container-fluid" id="clean">
	<div class="feature white">Clean</div>
	<div class="featuretag white">pick a place | clean it | share your work | encourage others</div>
</div>

<div class="container-fluid color1" id="challenge">
	<div class="feature white">Challenge</div>
	<div class="featuretag white">challenge your friends | make the world a better place</div>
</div>

<div id="footer" class="container">
	<div class="container">
		<p class="text-muted">&copy; Team Five Stars</p>
	</div>
</div>