

<div class="container-fluid bg">
	<%= image_tag("taj.png", class: "bg-image") %>
</div>

<div class="container">
	<div id="brand-name">Swach</div>
	<div id="btn-div">
		<%= link_to("Make your mark", login_path, class: "btn btn-success btn-custom") %>
	</div>
	<!-- <button type="button" class="btn btn-success btn-custom">Mark a Spot</button> -->
</div>
<div class="container-fluid color2">
	<div class="feature white">Mark</div>
	<div class="featuretag white">post a pic of the place that needs to be cleaned</div>
</div>
<div class="container-fluid">
	<div class="feature white">Clean</div>
	<div class="featuretag white">pick a place | clean it | share your work | encourage others</div>
</div>
<div class="container-fluid color1">
	<div class="feature white">Challenge</div>
	<div class="featuretag white">challenge your friends | make the world a better place</div>
</div>

	
		
			<img src="logo1.jpg" alt="The official HTML5 Icon"/>
		

<div id="footer" class="container">
	<div class="container">
		<p class="text-muted">&copy; Team Five Stars</p>
	</div>
</div>