#members {

  .member {
    margin-bottom: 2em;


    img {
      border-radius: 50%;
      width: 80%;
    }
    span.glyphicon {
      color: rgb(244,118,28);
    }

  }
}

.container{
  h1{
    font-family: italic;
    color:#337ab7;
  }



#members{
.member{
  display:inline;
}
}

}