/*body {
	background: image-url('taj.png');
	background-repeat: no-repeat;
	background-position: absolute;
	background-size: contain;
	background-color: #ecf0f1;

}*/

body {
	background-color: #ecf0f1;
}

.bg {
	position: fixed;
	z-index: -1;
	padding: 0 0;
}

.bg-image {
	margin: 0;
	width: 100vw;
}

#scroll-menu {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	margin-top: 1%;
	color: white;
	position: fixed;
	right: 0;

	ul {
		padding-right: 1vw;
		li {
			padding-right: 0.8vw;
			display: inline;
			text-decoration: none;

			a {
				text-decoration: none;
				color: grey;

				&:hover {
					color: white;
				}
			}
		}
	}
}

#brand-name {
	font-family: 'Open Sans', sans-serif;
	font-size: 8vw;
	text-align: center;
	margin-top: 17%;
	color: white;
}

.feature {
	font-family: 'Open Sans', sans-serif;
	font-size: 6.4vw;
	text-align: center;
	margin-top: 20%;
	color: black;
}

.featuretag {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.4vw;
	text-align: center;
	margin-bottom: 20%;
	color: black;
}

.btn-custom {
	width: 35%;
	font-size: 1.6vw;
	margin-top: 1%;
	padding: 10px;
	margin-bottom: 26%;
	font-family: 'Open Sans', sans-serif;
}

#btn-div {
	text-align: center;
}

.color1 {
	background-color: #1abc9c;
}

.color2 {
	background-color: #eb974e;
}

.white {
	color: white;
}

#footer {
	height: 4.8vw;
	// background-color: #ecf0f1;
	width: 100%;
}

.text-muted {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin: 1.6vw auto;
	text-align: center;
}