html {
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-bottom: 0;
  min-height: 42px;
}

.navbar-default {
  background: #2abb9b;
  border-color: #2abb9b;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  height: 42px;
  padding: 11px;
}

.navbar li a {
  padding: 11px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffe1c6;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ffe1c6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF;
  background-color: #2abb9b;
}

.dropdown-menu {
  background-color: #2abb9b;
  border: 0px solid transparent;
}

.dropdown-menu>li>a {
  color: #FFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #2abb9b;
  color: #FFF;
}


#main-content {
  padding-top: 20px;  
}

// Center Tabs
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
//

.name {
  font-size: 25px;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
}

.location {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.footer {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
  height: 42px;
  background-color: #d2d7d3;
  font-family: 'Open Sans', sans-serif;
}

.footer p {
  line-height: 42px;
  margin: 0 0 0 0;
  text-align: center;
}