html {
  position: relative;
  min-height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-bottom: 0;
  min-height: 42px;
}

.navbar-default {
  background: $primary-color;
  border-color: $primary-color;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: $light-color;
}

.navbar-brand {
  height: 42px;
  padding: 11px;
}

.navbar li a {
  padding: 11px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffe1c6;
}

.navbar-default .navbar-nav>li>a {
  color: $light-color;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ffe1c6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: $light-color;
  background-color: $primary-color;
}

.dropdown-menu {
  background-color: $primary-color;
  border: 0px solid transparent;
}

.dropdown-menu>li>a {
  color: $light-color;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: $primary-color;
  color: $light-color;
}


#main-content {
  padding-top: 20px;
  padding-bottom: 80px;
}

// Center Tabs
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
//

.name {
  font-size: 25px;
  font-weight: 900;
}

.location {
  font-size: 15px;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.footer {
  color: #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  background-color: #d2d7d3;
}

.footer p {
  line-height: 42px;
  margin: 0 0 0 0;
  text-align: center;
}