#join{
  h1 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .user_name {
    font-size: 25px;
    font-weight: 900;

    .glyphicon {
      // margin-right: 10px;
      font-size: 15px;
      display: block;
      float:right;
      padding: 10px;
    }

    .join_location {
      font-size: 15px;
    }
  }

  .join_post {
    background-color: #ecf0f1;
    border-radius: 1%;

    .join_image {
      margin: auto;
      width: 100%;
      padding: 10px;
    }
    .join_message {
      padding: 5px 7px 7px 12px;
      font-size: 15px;
      font-weight: 600;
      
    }
  }
}