body
{

  background-image:url('');
  background-size:cover;
  background-image:no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}

#myheading
{
   
  font-family: 'Love Ya Like A Sister', cursive;
  position: relative;
  margin-top:10%;
  text-align: center;

}

h3
{
  font-weight: bold;
}

a 
{
  float: right;
  color:#A58C29;
  background:none;
  text-decoration: none;
  display:inline-block;
  position: relative;
  margin-right:2%;
}

.nav
{
  position: relative;
  margin-top: 1%;
  margin-left: 1%;
}

#button
{
  display:inline;
  vertical-align: center;
  position: relative;
  margin-left: 30%;
}

.btn-default
{
  border-color: rgb(77, 165, 77);
  font-size: 20px;
  background-color:rgb(152, 170, 6);
}