
#share{

  h1 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .input_grp {
    padding-left: 0;

    .icon_container {
      padding-left: 0;

      .glyphicon {
        font-size: 2em;
        color: $secondary-color;
      }
    }
  }

  .user_name {
    font-size: 25px;
    font-weight: 900;

    .glyphicon {
        font-size: 0.65em;
        display: block;
        float:right;
        padding: 10px;
        color: $primary-color;
      }

    .clean_location {
      font-size: 15px;
    }
  }

  .clean_post {
    background-color: #ecf0f1;
    border-radius: 1%;

    .clean_image {
      margin: auto;
      width: 100%;
      padding: 10px;
    }
    .clean_message {
      padding: 5px 7px 7px 12px;
      font-size: 15px;
      font-weight: 600;

      
    }
  }

  form {
    input.string, textarea.text {
      width: 100%;
    }

    input.btn {
      background-color: $primary-color;
      border-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}