$primary-color: #2abb9b;
$secondary-color: #e67e22;
<<<<<<< HEAD
$light-color: #FFF;
=======
$light-color: #FFF;

#members{

.glyphicon{
  color:rgb(244, 118, 28);
}
}
>>>>>>> 3ae3950e9e83c1e3e5821af2949cba8874c31536
